#mainPanel {
    margin: 0px;
    padding: 0px;
}

#systemPanel {
    margin: 0px;
    padding: 0px;
}

#centralWidget {
    background: #22262F; /* Window background color */
}

#mainPanelScrollArea {
    border: none;
}

/* System buttons */
#pushButtonMaximize, #pushButtonMinimize, #pushButtonClose {
    border: none;
    width: 14px;
    height: 14px;
}

#pushButtonMaximize {
    padding: 0 8px 0 8px;
    image: url(:/res/icon/Material/WinMaximize.svg);
}

#pushButtonMaximize:hover {
    image: url(:/res/icon/Material/WinMaximizeHover.svg);
}

#pushButtonMinimize {
    padding: 0 7px 0 0;
    image: url(:/res/icon/Material/WinMinimize.svg);
}

#pushButtonMinimize:hover {
    image: url(:/res/icon/Material/WinMinimizeHover.svg);
}

#pushButtonClose {
    padding: 0 0 0 7px;
    image: url(:/res/icon/Material/WinClose.svg);
}

#pushButtonClose:hover {
    image: url(:/res/icon/Material/WinCloseHover.svg);
}
